## bytecode files
__pycache__

## stuff for extension to image embeddings
data/*
runs/*
PyTorchVAE/
vae_module.py

## tools for me
utils.py
clustering.py

## intermediate test data/results
*.pkl
*.pt

## auotsaves
*~
.ipynb_checkpoints/

## spyder files
.spyproject/*
.virtual_documents/
